@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-01{
    background-color: rgba(26, 11, 46, 1)
}
.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.9rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  /* margin: 0;
  padding: 0; */
}

.nav-links a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  /* transition: color 0.3s; */
}

.nav-links a:hover {
  color: #ff2fb3;
}

.subscribe-btn {
  padding: 12px 18px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
  cursor: pointer;
}

.subscribe-btn a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}

.hamburger-menu{
    display: none;
}

.hero-container{
    background-image: url(../assets/hero-bg.png);
    border-top: 1px solid rgba(128, 128, 128, 0.342);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 760px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-container .hero-img1{
    position: absolute;
    left: 41%;
    right: 40%;
    top: 13%;
}

.img-container .hero-img2{
    position: absolute;
    left: 47%;
    right: 50%;
    top: 24%;
}

.new-badge{
    background-color: #00FF88;
    padding: 8px 16px;
    border: none;
    border-radius: 1000px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    color: #1A0B2E;
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    left: 54%;
    top: 15%;
    animation-name: badge;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes badge {
    0%{
        background-color: #00FF88;
    }

    50%{
        background-color: #ff0000;
        border: 5px dotted yellow;
    }

    100%{
        background-color: #00ff88c7;
    }
}

.hero-text{
    position: absolute;
    left: 0;
    right: 0;
    top: 65%;
}

.hero-text h2{
    font-size: 3.7rem;
    font-weight: 800;
    color: #FFFFFF;
    padding-bottom: 8px;
   
}

.hero-text p{
    font-size: 1rem;
    color: #FFFFFF;
}

.hero-button{
    gap: 8px;
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    margin-top: 24px;
}

.hero-button .spotify {
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 10000px;
  background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
  margin-right: 8px;
  cursor: pointer;
}

.spotify a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
}

.spotify img{
    margin-right: 5px;
}

.hero-button .subscribe{
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    cursor: pointer;
}

.subscribe:hover{
    background-color: rgba(47, 204, 15, 0.541);
}

.subscribe a{
    color: #00FF88;
    text-decoration: none;
}

.about-section{
    background-color: #1A0B2E;
}

.about-container{
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.about-text{
    margin-bottom: 80px;
}

.about-text h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-text .about-p{
    font-size: 1rem;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.692);
    padding-bottom: 10px;
}

.about-cart{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    border-top: 1px solid rgba(255, 255, 255, 0.11);
}

.about-cart-info{
    margin-top: 80px;
}

.about-cart-info h2{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    padding-bottom: 16px;
}

.about-cart-info p{
    font-size: 1rem;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.692);
    padding-bottom: 120px;
}

.techwave{
    background-color: #230E3D;
    padding-bottom: 120px;
}

.techwave-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.techwave-container h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

.cart-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    margin-top: 40px;
}

.cart-info img{
    width: 60px;
    height: 60px;
}

.cart-info{
    background-color: rgba(53, 17, 101, 0.4);
    border: none;
    border-radius: 40px;
    padding: 40px;
}

.cart-info h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
}

.cart-info p{
    font-size: 1rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.692);
}

.cart-a{
    grid-row: span 2;
}

.cart-b{
    grid-column: span 2;
}

.cart-c{
    grid-column: span 2;
}

.cart-d{
    grid-column: span 2;
}

.featured{
    background-color: rgba(26, 11, 46, 1);
}

.featured-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.featured-text h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.featured-cart{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    gap: 30px;
}

.featured-cart-info{
    width: 380px;
    height: 440px;
    background-color: rgba(37, 13, 68, 1);
    border: none;
    border-radius: 40px;
}

.featured-cart-info iframe{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.featured-cart-info h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 12px;
}

.featured-cart-info p{
    font-size: 1rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.692);
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;
}

.host-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.host-container h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.host-bio{
    display: flex;
    justify-content: center;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border: none;
    border-radius: 40px;
}

.host-text{
    margin-left: 24px;
}

.host-text h4{
   font-size: 2rem;
   font-weight: bold;
   color: #FFFFFF;
   padding-bottom: 16px;
}

.host-text p{
    font-size: 1rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.692);
    padding-bottom: 16px;
}

.host-text .host-social{
    margin-right: 8px;
    
}

.host-social img{
    width: 40px;
    height: 40px;
}

.footer-container{
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 412px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.footer-heading{
    font-size: 7rem;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 15px;
}

.footer-social-container{
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 170px);
    column-gap: 1fr;
}

.footer-social{
    display: flex;
    gap: 8px;
}

.footer-social img{
    width: 24px;
    height: 24px;
}

.footer-social p{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.692);
}

.copy{
    font-size: 1rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.692);
    padding-top: 32px;
}

/*Media Responsive Code*/

/* Small device */

@media screen and (max-width: 576px) {
    .nav-links {
        display: none;
    }

    .subscribe-btn {
        display: none;
    }

    .hamburger-menu{
        display: inline;
        margin-right: 25px;
    }

    .logo{
        margin-left: 20px;
    }

    .hero-container{
    width: 100%;
    height: 466px;
    
}

.img-container .hero-img1{
    width: 200px;
    height: 200px;
    left: 29%;
    top: 20%;
}

.img-container .hero-img2{
    width: 47px;
    height: 70px;
    left: 44%;
    top: 35%;
}

.new-badge{
    left: 57%;
    top: 23%;
}

.hero-text{
    position: absolute;
    width: 400px;
    left: 11%;
}

.hero-text h2{
    font-size: 2.5rem;
    font-weight: 800;
    color: #FFFFFF;
    padding-bottom: 8px;
   
}

.hero-text p{
    font-size: 1rem;
    color: #FFFFFF;
}

.hero-button{
    position: absolute;
    padding-top: 12px;
}

.spotify {
  padding: 6px 4px;
}

.spotify a{
    font-size: 12px;
    
}

.spotify img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.subscribe{  
    padding-top: 6px; 
}

.subscribe a{
    font-size: 12px;
}

.about-text{
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.about-text h2{
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-text .about-p{
    font-size: 1rem;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.692);
    padding-bottom: 10px;
}

.small-text{
    display: inline;
}

.about-cart{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    border-top: none;
    padding-bottom: 40px;
}

.about-cart-info{
    margin-top: 10px;
}

.about-cart-info p{
    padding-bottom: 5px;
}

.techwave-container{
    padding-top: 40px;
}

.techwave-container h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.cart-container{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 250px);
    width: 400px;
    margin: 0 auto;
}

.featured-cart{
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.featured-container{
    padding-top: 40px;
    padding-bottom: 60px;
}

.featured-text h2{
    font-size: 2rem;
    margin-bottom: 24px;
}

.host-container h2{
    font-size: 2rem;
    margin-bottom: 24px;
}

.host-container{
    padding-bottom: 40px;
}

.host-bio{
    flex-direction: column;
    padding: 24px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.footer-container{
    background-size: cover;
    width: 100%;
    height: 248px;
}

.footer-heading{
    font-size: 2rem;
    padding-top: 40px;
    padding-bottom: 15px;
}

.footer-social-container{
    max-width: 400px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
}

.footer-social{
    justify-content: center;
}

.footer-social img{
    width: 20px;
    height: 20px;
}

}
/* Medium Device  */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .logo{
        margin-left: 15px;
    }

    .subscribe-btn{
        margin-right: 15px;
    }

    .hero-container{
    width: 100%;
    height: 466px;   
}

.img-container .hero-img1{
    width: 190px;
    height: 190px;
    left: 37.5%;
    top: 20%;
}

.img-container .hero-img2{
    width: 35px;
    height: 50px;
    left: 47.5%;
    top: 34%;
}

.new-badge{
    left: 55%;
    top: 23%;
}

.hero-text{
    position: absolute;
    left: 2%;
}

.hero-text h2{
    font-size: 2rem;
}

.spotify a{
    font-size: 14px;
    
}

.spotify img{
    width: 13px;
    height: 13px;
}

.subscribe a{
    font-size: 14px;
}

.about-text{
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.small-text{
    display: inline;
}

.about-cart{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    border-top: none;
    padding-bottom: 40px;
}

.about-cart-info{
    margin-top: 10px;
}

.about-cart-info p{
    padding-bottom: 5px;
}

.cart-container{
    grid-template-columns: repeat(2, 1fr);
}

.cart-a{
    grid-row: span 2;
}

.cart-b{
    grid-column: span 1;
}

.cart-c{
    grid-column: span 1;
}

.cart-d{
    grid-column: span 2;
}

.featured-cart{
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.featured-text h2{
    font-size: 3rem;
    margin-bottom: 30px;
}

.host-container h2{
    font-size: 3rem;
    margin-bottom: 30px;
}

.host-bio{
    flex-direction: column;
    padding: 24px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}



}